#left {
    left:-8.33%;
    text-align: center;
    float: left;
    width:50%;
    z-index:-10;
}

#right {
    left:31.25%;
    top: 75px;
    float: right;
    /*text-align: right;*/
    z-index:-10;
    width:50%;
}

.twitter-username {
    text-align: center;
    vertical-align: middle;
}

.github-username {
    text-align: center;
    vertical-align: middle;
}