<h2 md-dialog-title>{{params.title}}</h2>

<md-dialog-content>
  <md-input-container>
    <input mdInput name="username" placeholder="Username" 
           [(ngModel)]="params.username" (keyup.enter)="onSave()" [formControl]="usernameFormControl" required>
    <md-error>This field is required</md-error>
    <md-hint>Please type your username</md-hint>
  </md-input-container>
</md-dialog-content>

<md-dialog-actions *ngIf="params?.typeDialog === 'new-user'" [attr.align]="'end'">
  <button md-raised-button color="primary" md-dialog-close (click)="onSave()" [disabled]="usernameFormControl.hasError('required')">Chat!</button>
</md-dialog-actions>

<md-dialog-actions *ngIf="params?.typeDialog === 'edit-user'" [attr.align]="'end'">
  <button md-button md-dialog-close color="secondary">Close</button>
  <button md-raised-button color="primary" md-dialog-close (click)="onSave()">Save</button>
</md-dialog-actions>