<md-sidenav-layout>

    <md-sidenav #sidenav mode="side">
        <h3>Configuration</h3>
        <md-input [(ngModel)]="user.name" name="name" placeholder="Username"></md-input>
    </md-sidenav>

    <md-toolbar color="primary">
        <button md-icon-button (click)="sidenav.toggle()">
            <md-icon>menu</md-icon>
        </button>
        <span>Test</span>
    </md-toolbar>

    <md-card>
        <md-list class="chat-container">
            <md-list-item *ngFor="let message of messages">
                <img md-list-avatar src="{{message.from.avatar}}">
                <h2 md-line> <b>{{message.from.name}} </b> </h2>
                <p md-line>
                    <span> {{message.content}} </span>
                </p>
            </md-list-item>
        </md-list>
        <div class="row chat-input">
            <md-icon>message</md-icon>
            <md-input #inputMessage placeholder="Type your message"
                      [(ngModel)]="messageString"
                      maxlength="140"
                      style="width: 60%">
                <md-hint align="end">{{inputMessage.characterCount}}/140</md-hint>
            </md-input>
            <button md-icon-button (click)="sendMessage()">
                <md-icon>send</md-icon>
            </button>
        </div>
    </md-card>

</md-sidenav-layout>

