<button md-fab (click)="onClickUserInfo()">
  <md-icon>person</md-icon>
</button>
<div class="chat-container">
  <md-card class="main-card">
    <md-list class="chat-list">
      <md-list-item *ngFor="let message of messages" [ngClass]="[(message.action === undefined && message.from.id === user.id)? 'chat-list-item': '']">
        <img md-list-avatar *ngIf="message.action === undefined" [src]="message.from.avatar">
        <h4 md-line *ngIf="message.action === undefined">
          <b>{{message.from.name}}</b>
        </h4>
        <p md-line *ngIf="message.action === undefined">
          <span> {{message.content}} </span>
        </p>
        <p md-line *ngIf="message.action === action.JOINED">
          <span> <b>{{message.from.name}}</b> joined to the conversation </span>
        </p>
      </md-list-item>
    </md-list>
    <div class="chat-footer-container">
      <md-icon>message</md-icon>
      <md-input-container class="chat-input">
        <input mdInput 
               #inputMessage 
               maxlength="140" 
               placeholder="Type your message" 
               [(ngModel)]="messageContent" 
               (keyup.enter)="sendMessage(messageContent)">
        <md-hint align="end">{{inputMessage.value.length}}/140</md-hint>
      </md-input-container>
    </div>
  </md-card>
</div>