
[md-fab] {
    position: absolute;
    right: 2%;
    top: 35px;
    z-index: 1;
}

.chat-container {
    position: absolute;
    width: 100%; 
    height: 100%;
}

.chat-input {
    padding-top: 20px;
    width: 80%; 
}