<md-sidenav-container fullscreen>
  <md-sidenav #sidenav>
    <md-nav-list>
      <a md-list-item href="https://luixaviles.com">
        <md-icon md-list-icon>person</md-icon>
        <span md-line>Author</span>
      </a>
      <a md-list-item href="https://github.com/luixaviles/socket-io-typescript-chat">
        <md-icon md-list-icon>code</md-icon>
        <span md-line>Source Code</span>
      </a>
      <a md-list-item href="https://luixaviles.com">
        <md-icon md-list-icon>info</md-icon>
        <span md-line>See Blog Post</span>
      </a>
    </md-nav-list>
  </md-sidenav>

  <div>
    <md-toolbar color="primary">
      <button md-icon-button (click)="sidenav.toggle()">
      <md-icon>menu</md-icon>
    </button>
      <span>Angular Chat</span>
    </md-toolbar>

    <div class="app-content">
      <router-outlet></router-outlet>
    </div>

  </div>
</md-sidenav-container>